{% extends 'base.html' %}

{% block title %}
    FakePinterest
{% endblock %}

{% block body %}
<body>
    <div class="login-container">
        <div class="login-box">
                <div class="login-logo">
                    <a href="{{ url_for('feed') }}">
                         <img src="{{ url_for('static', filename='fotos_site/oip.png') }}" alt="FakePinterest">
                    </a>
                </div>
            <h2 class="welcome-text">Bem-vindo(a)</h2>

            <form method="POST" class="login-form">
                {{ form.csrf_token }}

                <div class="input-field">
                    {{ form.email.label }}
                    {{ form.email(placeholder="exemplo@email.com") }}
                </div>

                <div class="input-field">
                    {{ form.senha.label }}
                    {{ form.senha(placeholder="********") }}
                </div>

                {{ form.botao(class="login-btn", value="Entrar") }}
            </form>

            <div class="signup-link">
                <a href="{{ url_for('criarconta') }}">Ainda nao tem uma conta? Cadastre-se</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}