{% extends 'base.html' %}

{% block title %}
Perfil - {{ user.usuario }}
{% endblock %}

{% block body %}
    {% include "navbar.html" %}

    <div class="perfil-container">
        <div class="perfil-header">
            <h1>{{ user.usuario }}</h1>

            {% if form %}
            <form method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.foto }}
                {{ form.botao_foto }}
            </form>
            {% endif %}
        </div>

        <div class="perfil-fotos">
            {% for foto in user.fotos %}
            <a href="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}" target="_blank">
                <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}"
                     alt="Foto de {{ user.usuario }}">
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}